DATABASE_URL="postgresql://neondb_owner:npg_xGJ0vrBE2UXQ@ep-polished-firefly-azhfbj4t-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
HEXCLAVE_PROJECT_ID="a50a53fe-de9a-4989-abff-41f3f23a96f6"
NEXT_PUBLIC_HEXCLAVE_PROJECT_ID="a50a53fe-de9a-4989-abff-41f3f23a96f6"
HEXCLAVE_SECRET_SERVER_KEY="ssk_cy0gz3wfz80denshm4r1vwpxcbyz78ya13rpnxm0grveg"
